extends layout

block content
    h1= title
    ul.bombs
        if bombs
            each bomb, i in bombs
                li.bomb Bomb: #{Math.round(bomb.timeLeft/1000)} seconds until detonation
        else
            li.no-bombs No bombs!