doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='/javascripts/config', src='/javascripts/vendor/require.js')
    block headscripts
  body
    .header
        include includes/header
        block header

    .content
        block content

    .footer
        block footer

    block footscripts