extends layout

block content
    h1 Welcome to Browser Wars
    if error
        p.feedback #{error}
    p 
        form.form-centred(name="input", method="post")
            label(for="username") Enter your username to sign in:
            br
            input.full-width(name='username')
            br
            input(type="submit", value="Login")

